In [1]:
import pandas as pd
import numpy as np

In [2]:
authorInt = pd.read_csv("authorToInt.csv")
new_mapping = {}

In [3]:
for ind in authorInt.index:
    a = authorInt["id"][ind]
    b = authorInt["new_id"][ind]
    new_mapping[a] = b

# Community change

In [3]:
commdf = pd.read_csv("community.csv")

In [4]:
# authorInt.rename(columns={"id": "author"})

In [5]:
newdf = pd.concat([commdf, authorInt], keys = ["author", "id"])

In [10]:
newdf = newdf.drop(["id"])
newdf = newdf.rename(columns={"new_id": "id"})

         community   id   id
count  7015.000000  0.0  0.0
mean     76.724733  NaN  NaN
std     110.877223  NaN  NaN
min       0.000000  NaN  NaN
25%      14.000000  NaN  NaN
50%      25.000000  NaN  NaN
75%      63.000000  NaN  NaN
max     459.000000  NaN  NaN

In [11]:
newdf.to_csv("n_community.csv", index=False)

# Convert df to matrix files

In [4]:
def dfToMat(df):
    columns = df.columns
    mat = []
    for i in columns:
        mat.append(df[i].to_list())
    
    return mat

# Pearson distance

In [15]:
pearson = pd.read_csv("./layer3/pearson_distance.csv.zip")
# pearson.to_csv("tmp.csv")

In [6]:
import numpy as np

In [16]:
def dfToMat(df):
	mat = []
	for i in range(7102):
		mat.append(df[str(i)].to_list())
	return mat

In [17]:
mat = dfToMat(pearson)

In [35]:
def pad(n):
    n = str(n)
    return "0"*(4-len(n)) + n

In [18]:
print(len(mat))

7102

In [20]:
n_mat = np.zeros((7102, 7102))

In [21]:
for i in range(len(mat)):
    for j in range(len(mat[i])):
        n_mat[new_mapping[i]][new_mapping[j]] = mat[i][j]
    # if i not in new_mapping:
    #     print(i)

In [ ]:
for i in range(len(mat)):
    # f.open("layer3/pearson/" + str(pad(i)), "w")
    np.array(mat[i]).tofile("layer3/pearson/" + str(i))
    if i % 100 == 0:
        print(i)

# Layer 2

In [23]:
mat = np.reshape(np.fromfile("layer2/sim_mat", dtype=float), (7102, 7102))

In [24]:
n_mat = np.zeros((7102, 7102))

In [25]:
for i in range(len(mat)):
    for j in range(len(mat[i])):
        n_mat[new_mapping[i]][new_mapping[j]] = mat[i][j]
    # if i not in new_mapping:
    #     print(i)

In [26]:
for i in range(len(mat)):
    # f.open("layer2/similarity/" + str(pad(i)), "w")
    np.array(mat[i]).tofile("layer2/similarity/" + str(i))
    if i % 1000 == 0:
        print(i)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100

In [ ]:
pip