In [8]:
import pandas as pd

df_auth = pd.read_csv("../layer1/community.csv")


def dictToCSV(d, name1, name2, filename):
	node = []
	comm = []
	for key in d:
		node.append(key)
		comm.append(d[key])
	
	df = pd.DataFrame({name1: node, name2: comm})
	df.to_csv(filename, index=False)
	return df

In [2]:
cols = [i for i in range (1990, 2022)]
print(cols)
# cols.insert(0, "id")

[1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [3]:
data = {}
data["id"] = [i for i in range(7102)]

In [4]:
for i in cols:
    data[i] = [0]*7102

In [33]:
df = pd.read_csv("../IEEE VIS papers 1990-2021 - Main dataset.csv")
# df = df[["AuthorNames", "Year"]]
# df = df.dropna()

In [6]:
print(max(df["Year"]))
print(min(df["Year"]))

2021
1990

In [7]:
# print(data["id"])

In [8]:
count = 0
authors = {}
for ind in df.index:
	auth = df["AuthorNames"][ind]
	for a in auth.split(";"):
		if a not in authors:
			authors[a] = count
			count += 1
		# print(df["Year"][ind]-1990)
		# print(authors[a])

		data[df["Year"][ind]][authors[a]] += 1

In [9]:
# cols = [str(i) for i in range (1990, 2021)]

In [10]:
print(count)

7102

In [11]:
cols.insert(0, "id")

In [12]:
# for i in data[1:]:
# 	if len(data[i]) != len(data[0]):
# 		print(i, end=" ")

In [13]:
tmp_df = pd.DataFrame(data)

In [14]:
tmp_df.to_csv("yearWise.csv", index = False)

In [15]:
dictToCSV(authors, "author", "id", "authorToInt.csv")

                author    id
0      Michael Bostock     0
1     Vadim Ogievetsky     1
2         Jeffrey Heer     2
3           B. Johnson     3
4       B. Shneiderman     4
...                ...   ...
7097         G. Almasi  7097
7098     S. Kuschfeldt  7098
7099        M. Holzner  7099
7100       B.M. Dennis  7100
7101      P.-T. Bremer  7101

[7102 rows x 2 columns]

In [16]:
data = {}
data["id"] = [i for i in range(425)]
print(data["id"])
for i in cols[1:]:
    data[i] = [0]*425

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424]

In [17]:
for ind in df.index:
	auth = df["AuthorNames"][ind]
	for a in auth.split(";"):
		# if a not in authors:
		# 	authors[a] = count
		# 	count += 1
		# # print(df["Year"][ind]-1990)
		# # print(authors[a])
		data[df["Year"][ind]][authors[a]] += 1

IndexError: list index out of range

In [ ]:
print(data["id"])

# Edge List

In [18]:
f = open("edgeList.txt", "w")

In [19]:
for ind in df.index:
	auth = df["AuthorNames"][ind]
	current = auth.split(";")
	for i in range(len(current)):
		for j in range(i+1, len(current)):
			f.write("{} {}\n".format(authors[current[i]], authors[current[j]]))

In [20]:
f.close()

# convert author names to id in community.csv

In [21]:
comm_df = pd.read_csv("../layer1/community.csv")

In [ ]:
# print(authors)

In [ ]:
isin = []
notin =[]
for ind in comm_df.index:
    # comm_df["author"][ind] = authors[comm_df["author"][ind]]
    if comm_df["author"][ind] in authors:
        isin.append(comm_df["author"][ind])
    else:
        notin.append(comm_df["author"][ind])

In [ ]:
print(len(isin), len(notin))

7015 0

#

In [ ]:
comm_df.to_csv("../layer1/community.csv", index=False)