In [1]:
import pandas as pd

df_auth = pd.read_csv("../layer1/community.csv")


def dictToCSV(d, name1, name2, filename):
	node = []
	comm = []
	for key in d:
		node.append(key)
		comm.append(d[key])
	
	df = pd.DataFrame({name1: node, name2: comm})
	df.to_csv(filename, index=False)
	return df

In [2]:
authors = {}
i = 0
mat = []
for auth in df_auth["author"].to_list():
	authors[auth] = i
	mat.append([0]*(26))
	mat[i][0] = i
	i += 1

In [3]:
dictToCSV(authors, "author", "num", "authorToInt.cvs")

                author   num
0      Michael Bostock     0
1     Vadim Ogievetsky     1
2         Jeffrey Heer     2
3           B. Johnson     3
4       B. Shneiderman     4
...                ...   ...
7010         G. Almasi  7010
7011     S. Kuschfeldt  7011
7012        M. Holzner  7012
7013       B.M. Dennis  7013
7014      P.-T. Bremer  7014

[7015 rows x 2 columns]

In [4]:
df = pd.read_csv("../IEEE VIS papers 1990-2021 - Main dataset.csv")
df = df.dropna()
df = df[["AuthorNames", "Year"]]

In [5]:
print(max(df["Year"]) - 1990)

30

In [6]:
count = 0
authors = {}
mat = []
for ind in df.index:
	auth = df["AuthorNames"][ind]
	for a in auth.split(";"):
		if a not in authors:
			authors[a] = count
			mat.append([0]*32)
			mat[count][0] = count
			count += 1
		# print(df["Year"][ind]-1990)
		# print(authors[a])
		mat[authors[a]][df["Year"][ind]-1990] += 1

In [7]:
cols = [str(i) for i in range (1990, 2021)]

In [8]:
cols.insert(0, "id")

In [9]:
import numpy as np

In [10]:
mat = np.mat(mat)

In [13]:
mat

matrix([[  0,   0,   0, ...,   0,   0,   0],
        [  1,   0,   0, ...,   0,   0,   0],
        [  2,   0,   0, ...,   0,   0,   0],
        ...,
        [422,   0,   0, ...,   0,   1,   0],
        [423,   0,   0, ...,   0,   1,   0],
        [424,   0,   0, ...,   0,   1,   0]])

In [43]:
tmp_df = pd.DataFrame(mat.transpose(), cols)

In [44]:
tmp_df.to_csv("yearWise.csv", index = False)